body, #main_container {
    background: rgb(35, 31, 52);
}

#header {
    /* border: 3px solid white; */
    border-radius: 10px;
    width: 92%;
    margin-left: 4%;
    margin-bottom: 5px;
    background: rgb(35, 31, 52);
    box-shadow: 0px 7px 10px 5px rgba(17, 15, 24, 0.315);
    transition: 0.3s ease-in-out;
}

#header:hover {
    box-shadow: 0px 7px 3px 5px rgba(17, 17, 19, 0.425);
}

h5, h2 {
    color: white;
}

.rc-slider-dot-active {
    border-color: #FCB131;
}

.rc-slider-track {
    background-color: #FCB131;
}

.rc-slider-handle {
    background-color: #FCB131;
    border: #FCB131;
}

.rc-slider-handle-dragging{
    border-color: #FCB131;
    box-shadow: #FCB131;
}

input {
    appearance: none;
    border: 2px solid #ffe4b5;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    padding: 1px 8px;
    transition: 0.2s ease-in-out;
    position: relative;
    margin-right: 5px;
}

label {
    padding: 5px;
}

input:checked {
    border: 3px solid black;
    background-color: #FCB131 !important;
}

table {
    border-radius: 3px;
}

td {
    text-align: center !important;
    font-size: 12px;
    border: 0px !important;
    border-bottom: 2px solid white !important;
    /* border-right: 1px solid white !important; */
    text-align: center !important;
}

.custom-tab {
    color: white;
    font-size: 20px;
    font-family: "helvetica";
    background-color: #322c4a !important;
    border-radius: 7px 7px 0px 0px;
    border: 0px !important;
    margin-right: 2px;
    transition: 0.2 ease-in-out;
    /* border-left: 1px solid red !important; */
}

.custom-tab--selected {
    color: #EE334E !important;
    background-color: #242037 !important;
    border-top: 3px solid #EE334E !important;
    border-bottom: 2px solid white !important;
}

.next-page, .previous-page, .first-page, .last-page, .page-number {
    color: white;
}

#sidebar, #graph_container {
    background: rgb(63,58,82);
    background: linear-gradient(0deg, rgba(63,58,82,1) 16%, rgba(36,5,51,1) 100%);
    box-shadow: 0px 7px 10px 5px rgba(17, 15, 24, 0.195);
}