body {
    background-color: #322c4a;
}

h5, h2 {
    color: white;
}

.rc-slider-dot-active {
    border-color: #FCB131;
}

.rc-slider-track {
    background-color: #FCB131;
}

.rc-slider-handle {
    background-color: #FCB131;
    border: #FCB131;
}

.rc-slider-handle-dragging{
    border-color: #FCB131;
    box-shadow: #FCB131;
}

input {
    appearance: none;
    border: 2px solid black;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    padding: 1px 8px;
    transition: 0.4s ease-in-out;
    position: relative;
    margin-right: 5px;
}

label{
    padding: 5px;
}

input:checked {
    border: 3px solid black;
    background-color: #FCB131 !important;
}

table {
    border-radius: 3px;
}

td {
    text-align: center !important;
    font-size: 12px;
    border: 0px !important;
    border-bottom: 2px solid white !important;
    /* border-right: 1px solid white !important; */
    text-align: center !important;
}

.custom-tab {
    color: white;
    font-size: 20px;
    font-family: "helvetica";
    background-color: #322c4a !important;
    border-radius: 7px 7px 0px 0px;
    border: 0px !important;
}

.custom-tab--selected {
    color: #EE334E !important;
    /* border-left: 1px solid lightgrey !important; */
    /* border-right: 1px solid lightgrey !important; */
    border-top: 3px solid #EE334E !important;
    border-bottom: 2px solid white !important;
}

.next-page, .previous-page, .first-page, .last-page, .page-number {
    color: white;
}