body {
    background-color: #322c4a;
}

h5 {
    color: white;
}

.rc-slider-dot-active {
    border-color: #B33951;
}

.rc-slider-track {
    background-color: #B33951;
}

.rc-slider-handle {
    background-color: #B33951;
    border: #B33951;
}

.rc-slider-handle-dragging{
    border-color: #B33951;
    box-shadow: #B33951;
}